# Phase #1:
## Goal of collecting the dataset:
The primary aim of collecting the Brain Stroke Data dataset is to analyse and predict stroke occurrences based on various factors. Our data mining project will focus classification and clustering to predict the occurrence of stroke based on the attributes in the dataset, helping doctors and researchers to understand the factors that contribute to the risk of stroke as this is crucial for developing these strategies, clustering can help us identifying risk group, this can help identify subgroups with similar risk profiles for stroke.

## The source of the dataset:
https://www.kaggle.com/datasets/niranjanank/brain-stroke-data

#### Read dataset:

In [ ]:
from google.colab import drive

In [ ]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/iRoseM/Brain-Stroke---Data-Mining-Project/main/Dataset%20Folder/Original_dataset.csv')
import matplotlib.pyplot as plt
import seaborn as sns

## General information about the dataset:
- Number of objects in original dataset: 4981.
- Number of attributes: 11.
- Class labels: stroke.
- Missing values: there is no missing values.
- Dublicates: there is no dublicate objects.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4981 entries, 0 to 4980
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             4981 non-null   int64
 1   age                4981 non-null   float64
 2   hypertension       4981 non-null   int64
 3   heart_disease      4981 non-null   int64
 4   ever_married       4981 non-null   int64
 5   work_type          4981 non-null   int64
 6   Residence_type     4981 non-null   int64
 7   avg_glucose_level  4981 non-null   float64
 8   bmi                4981 non-null   float64
 9   smoking_status     4981 non-null   int64
 10  stroke             4981 non-null   int64
dtypes: float64(3), int64(8)
memory usage: 428.2 KB

#### Attributes data types:

| Attributes name | Data type | Possible Values |
|----------------|-------------|-------------|
| gender   | Binary (symmetric) | Male (0), Female (1) |
| Age | Numeric (Ratio) | 0.08-82 |
| hypertension | Binary (asymmetric) | 1(Yes),0(No) |
| heart_disease | Binary (asymmetric) | 1(Yes),0(No) |
| ever_married | Binary (asymmetric) | 1(Yes),0(No) |
| work_type | Nominal | 0(Private),1(Self-employed),2(Government job),3(Never worked) |
| Residence | Binary (asymmetric) | 0(Urban),1(Rural) |
| avg_glucose_level (Average glucose level) | Numeric (Ratio) | 55.12-271.74 |
| bmi (Body mass index) | Numeric (Ratio) | 14-48.9 |
| smoking_status | Nominal | 0(formerly smoked),1(never smoked),2(smokes),3(Unkown) |
| stroke | Binary (Asymmetric) | 1(Yes),0(No) |

#### to find dublicate objects:

In [ ]:
duplicates = df.duplicated()

#count the number of duplicates
num_duplicates = duplicates.sum()

#print the result
if num_duplicates > 0:
    print(f"There are {num_duplicates} duplicate rows in the dataset.")
else:
    print("No duplicate rows found.")

No duplicate rows found.

#### to count null values:

In [ ]:
null= pd.isnull(df)
null.head().sum().sum()

0